
.container_box_2 {
	background-color: #00BFFF; color: white; padding: 20px; border-bottom: 2px solid black
}
.container{
	border: 2px solid black;
}
.container_box_1{
	border-bottom: 2px solid black; height: 100px
}
.1{
	float: left; width: 50%;padding-top: 14px;text-align: center;margin-left: 115px
}
.2{
	float: left;text-align: right
}