
.container_box_2 {
	background-color: #00BFFF; color: white; border-bottom: 2px solid black; height: 60px; margin-top: 85px; width: 100%; right: 0; left: 0
}
.container{
	/*border: 2px solid black;*/
}
.container_box_1{
	border-bottom: 2px solid black; height: 100px;background-color: #c8f4de;position: fixed;width: 100%; top:0;border-top: 2px solid black; right:0; left:0;
}
.q{
	float: left; width: 50%;padding-top: 14px;text-align: center;margin-left: 115px
}
.w{
	float: left;text-align: right
}
.e{
	text-align: left; font-size: 20px
}
.r{
	text-align: right; padding: 37px; margin-right: 95px
}
.t{
	border-right: 2px solid black; padding-right: 5px; color: blue
}
.y{
	border-right: 2px solid black; padding-right: 5px;color: blue
}
.u{
	border-right: 2px solid black; padding-right: 5px;color: blue
}
.i{
	color: blue
}
.o{
	text-align: center; padding-top:10px;
}
.p{
	text-align: right; padding-right: 370px
}
.a{
	padding-top: 20px; margin-bottom: 80px
}
.s{
	float: left; width: 26%; padding-left: 120px;padding-right: 25px
}
.d{
	float: left; width: 26%; padding-right: 25px
}
.f{
	padding-right: 120px; margin-bottom: 30px
}
.g{
	float: left; width: 26%; padding-left: 120px;padding-right: 25px
}
.h{
	 width: 26%; margin-bottom: 30px;float: left;
}
.anhson{
	clear: both; background-color: #00BFFF; color: white; text-align: center; border-top: 2px solid black; padding: 10px;;width: 98.4%;bottom: 0;position: fixed;right: 0; left: 0
}
.content{

	background-color: red
}
.quay-lai{
	position: fixed;bottom:60px;right: 0
}
.nut-bam{
	background-color: blue; border-radius: 7px;
}
.thuoc-tinh-nut-bam{
	color: white; padding:5px; text-decoration: none;
}